
.footer-wrapper {
    margin: 0;
    height: 600px;
background-size: 100% ;
    background-image: url(../../img/footer-img.jpg.jpg);
    background-repeat: no-repeat;
    text-align: center;
    .footer-text {
        color: white;
        margin-top: 130px;
    }

    .footer-logo {
        font-size: 90px;
        font-weight: bold;
        padding-top: 210px;
    }

    .footer-sub {
        font-size: 20px;
        margin-top: 140px;
    }
    .copylight{
    margin-top: 5px;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        height: 50px;

        img {
            width: 20px;
            height: 20px;
            font-weight: bold;
            filter: brightness(0) invert(1);
        color: white;
        margin: 13px 9px;
        }
    }
}
