.header {
    position: relative;

    .header-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        position: absolute;
        top: 0;
}
    .header-logo,
    .header-links li,
    img {
        margin-left: 15px;
        color: white;

        &:hover {
            color: #00d0ff;
            opacity: 0.7;
        }
    }

    .header-logo {
        font-size: 25px;
        font-weight: bold;

    }

    .header-right li,
    img {
        display: inline;
        font-size: 17px;
        margin: 5px;
    }

    .header-links img {
        width: 20px;
    }
}

.top-content {

    background-image: url(../../img/image.png);
    height: 900px;
    background-repeat: no-repeat;

    .top-title,
    .top-btns {
        color: white;
        font-size: 20px;
        text-align: center;
    }

    .top-title {
        font-size: 110px;
        padding: 180px 40px 70px 40px;
        font-family: 'Knewave', cursive;
        // background: linear-gradient(90deg, #4158D0, #C850C0 30%, #FFCC70);
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
    }

    .top-btns {
        margin: 200px 100px;

    }

    .top-btns .button {
        font-size: 20px;
        border: solid 1px white;
        border-radius: 5%;
        padding: 10px 15px;
        margin-right: 12px;
        background: linear-gradient(#00d0ff, #25ffbf);

        &:hover {
            box-shadow: 10px 10px 7px yellow;
            // transform:translate(10px, 7px) ;
        }
    }
}

$sp:767px;
@media screen and (max-width: $sp) {
    .header-bar{
    display: flex;
    flex-direction: column;
    }
    .header-logo  {
        font-size: 15px;
    }
    .header-links li{
    font-size: 5px;
    width: 100%;
    }

    .top-btns .button{
width: 25px;
height: 20px;
    }
}