#main-content{
    align-items: center;
    background: url(../../img/middle-cover.jpg) no-repeat;
}

.artist-headliner-jamila,
.artist-headliner-Sandra,
.artist-headliner-DJCrazyhead
{
    align-items: center;
    justify-content: center;
}