.header {
  position: relative;
}
.header .header-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  position: absolute;
  top: 0;
}
.header .header-logo,
.header .header-links li,
.header img {
  margin-left: 15px;
  color: white;
}
.header .header-logo:hover,
.header .header-links li:hover,
.header img:hover {
  color: #00d0ff;
  opacity: 0.7;
}
.header .header-logo {
  font-size: 25px;
  font-weight: bold;
}
.header .header-right li,
.header img {
  display: inline;
  font-size: 17px;
  margin: 5px;
}
.header .header-links img {
  width: 20px;
}

.top-content {
  background-image: url(../../img/image.png);
  height: 900px;
  background-repeat: no-repeat;
}
.top-content .top-title,
.top-content .top-btns {
  color: white;
  font-size: 20px;
  text-align: center;
}
.top-content .top-title {
  font-size: 110px;
  padding: 180px 40px 70px 40px;
  font-family: "Knewave", cursive;
}
.top-content .top-btns {
  margin: 200px 100px;
}
.top-content .top-btns .button {
  font-size: 20px;
  border: solid 1px white;
  border-radius: 5%;
  padding: 10px 15px;
  margin-right: 12px;
  background: linear-gradient(#00d0ff, #25ffbf);
}
.top-content .top-btns .button:hover {
  box-shadow: 10px 10px 7px yellow;
}

@media screen and (max-width: 767px) {
  .header-bar {
    display: flex;
    flex-direction: column;
  }
  .header-logo {
    font-size: 15px;
  }
  .header-links li {
    font-size: 5px;
    width: 100%;
  }
  .top-btns .button {
    width: 25px;
    height: 20px;
  }
}
#main-content {
  align-items: center;
  background: url(../../img/middle-cover.jpg) no-repeat;
}
#main-content .lineupbtn {
  justify-content: center;
  font-size: 10px;
  border: solid 1px white;
  border-radius: 5%;
  padding: 10px 15px;
  background: linear-gradient(#00D0FF, #25FFBF);
  color: white;
}

.artist-headliner-jamila,
.artist-headliner-Sandra,
.artist-headliner-DJCrazyhead {
  align-items: center;
  position: relative;
  display: flex;
  margin: 50px 150px;
}

.delayScroll {
  opacity: 1;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.artist-headliner-description {
  background-color: rgba(255, 255, 255, 0.68);
  width: 500px;
  height: 200px;
  position: absolute;
  right: 35%;
  bottom: 45px;
  -webkit-box-shadow: 8px 11px 20px 0px rgba(222, 222, 222, 0.4509803922);
  box-shadow: 8px 11px 20px 0px rgba(222, 222, 222, 0.4509803922);
}

.artist-headliner-Sandra {
  flex-direction: row-reverse;
}
.artist-headliner-Sandra .artist-headliner-description {
  position: absolute;
  left: 35%;
}

.headlinerspic {
  width: 25%;
}

.artist-name {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.artist-des {
  margin: 30px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: gray;
}

.complete-lineup .complete-artists {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 180px 100px 0;
  padding-left: 150px;
}
.complete-lineup .complete-artists .box {
  text-align: center;
  justify-content: center;
}
.complete-lineup .artists {
  justify-content: center;
}
.complete-lineup .complete-artist-name {
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}
.complete-lineup .completelineup-img {
  width: 70%;
}

.btn {
  justify-content: center;
  display: flex;
  margin: 20px;
}

@media screen and (max-width: 767px) {
  #main-content {
    flex-direction: column;
  }
  .artist-headliner-jamila,
.artist-headliner-Sandra,
.artist-headliner-DJCrazyhead {
    margin: 0px 0px;
    flex-direction: column;
  }
  .artist-headliner-Sandra {
    flex-direction: row;
  }
  .headlinerspic {
    max-width: 50%;
    justify-content: center;
  }
  .artist-headliner-description {
    position: unset;
    left: 0%;
    display: flex;
    flex-wrap: wrap;
  }
}
.footer-wrapper {
  margin: 0;
  height: 600px;
  background-size: 100%;
  background-image: url(../../img/footer-img.jpg.jpg);
  background-repeat: no-repeat;
  text-align: center;
}
.footer-wrapper .footer-text {
  color: white;
  margin-top: 130px;
}
.footer-wrapper .footer-logo {
  font-size: 90px;
  font-weight: bold;
  padding-top: 210px;
}
.footer-wrapper .footer-sub {
  font-size: 20px;
  margin-top: 140px;
}
.footer-wrapper .copylight {
  margin-top: 5px;
}
.footer-wrapper .footer-links {
  display: flex;
  justify-content: center;
  height: 50px;
}
.footer-wrapper .footer-links img {
  width: 20px;
  height: 20px;
  font-weight: bold;
  filter: brightness(0) invert(1);
  color: white;
  margin: 13px 9px;
}

.sub-content p {
  color: black;
  padding-left: 80px;
}
.sub-content .smalltitle1 {
  margin-top: 100px;
  font-size: 20px;
}
.sub-content .title1 {
  font-size: 40px;
  font-weight: bold;
  display: inline;
  border-bottom: 3px solid black;
}
.sub-content .swiper-wrapper {
  margin-top: 30px;
}
.sub-content .swiper-slide {
  width: 300px;
  height: 270px;
  position: relative;
}
.sub-content .swiper-slide .img {
  width: 100%;
  margin: 0;
}
.sub-content .swiper-slide h3 {
  font-size: 20px;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-content .swiper-slide:hover h3 {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */